<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Twitter Tap</title>
    <meta name="description" content="Twitter search">
    <meta name="author" content="Joao Lopes">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <script src="/js/main.js"></script>
  </body>
</html>